
/*-------------
Variables
-------------*/
:root{

    --main-color: #e98b2c;
    --dark: #1b1b22;
    --dark-light: #32323a;
    --white:#ffffff;
    --white-light: #c8c8c8
}
/*------------
Global Settings
------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    Line-height: 1.5;
    color: var(--white-light);
    background-color: var(--dark);
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}